@import "tailwindcss";

@theme {
  --color-primary: #6d28d9;
  --color-secondary: #f97316;
  --color-accent: #ec4899;
  --color-background: #1a122a;
  --color-card: #1e293b;
  --color-text: #f8fafc;
  --color-text-light: #e0bbe4;
  --color-text-dark: #957dad;
}

@layer base {
  body {
    @apply bg-background text-text font-sans;
    background: linear-gradient(
      to right,
      var(--tw-colors-background),
      var(--tw-colors-card)
    );
    animation: gradient-pulse 10s ease infinite;
    background-size: 200% 200%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary font-bold;
  }

  a {
    @apply text-accent hover:text-secondary transition-colors duration-300;
  }

  /* Custom scrollbar for a modern look */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-card;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }

  .detail-item {
    @apply text-lg;
  }
}
